@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }
}

@layer base {
  * {
  }
  body {
    @apply text-black;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  label {
    @apply text-neutral-400 font-semibold;
  }

  a[aria-disabled='true'] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}
